<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="msgFrompPush"></div>
<script src="/static/jquery.min.js"></script>
<script type="text/javascript">
    if(!!window.EventSource){
        var source=new EventSource('push');
        s='';
        source.addEventListener('message',function (e) {
           s+=e.data+"<br/>";
           $("#msgFrompPush").html(s);
        });
        source.addEventListener('open',function (e) {
            console.log("连接打开");
        },false);
        source.addEventListener('error',function (e) {
           if(e.readyState==EventSource.CLOSED){

               console.log("链接关闭");
           }else{
               console.log(e.readyState)
           }
        },false);
    }else {
        console.log("游览器不支持SSE");
    }
</script>
</body>
</html>